<% formatter = AzaharaSchema::AttributeFormatter.formatter_for(EntryTest).new((schema = EntryTestSchema.new), self) %>
<% place_attr = schema.attribute('place') %>

<% content_for(:greeting) do %>
  Vážený uchazeči,
<% end %>

<div>
  <p>
    dovolujeme si Vám oznámit, že došlo ke změně termínu konání vstupního testu dne <%= l(@audit.audited_changes['time'].to_date) %> v <%= l(@audit.audited_changes['time'].to_time, format: :time) %> hodin, a to na den <%= l(@entry_test.time.to_date) %> v <%= l(@entry_test.time.to_time, format: :time) %> hodin. Původní termín byl z organizačních důvodů zrušen.
  </p>
  <p>
    Vstupní test se bude konat v budově Justiční akademie, <%= formatter.formatted_value(place_attr, @entry_test) %><%= " (pozn. #{@entry_test.additional_info})" if !@entry_test.additional_info.blank? %>.
  </p>
  <% if @audit.comment %>
    <p>
      <% @audit.comment %>
    </p>
  <% end %>
  <p>
    Pro více informací o termínu přejděte na tuto url adresu: <%= entry_test_url(@entry_test) %>.
  </p>
  <p>
    Za případné komplikace se omlouváme.
  </p>
</div>
