<% formatter = attribute_formatter_for(schema = EntryTestSchema.new) %>
<% place_attr = schema.attribute('place') %>

<% content_for(:greeting) do %>
  Vážený uchazeči,<br />
<% end %>
<div>
  <p>
    dovolujeme si Vám oznámit, že po úspěšném posouzení Vaší registrace Vám byl stanoven termín konání vstupního testu.
    Vstupní test se bude konat dne <%= l(@entry_test.time.to_date) %> v <%= l(@entry_test.time.to_time, format: :time) %> hodin v budově Justiční akademie,
    <%= formatter.formatted_value(place_attr, @entry_test) %><%= " (pozn. #{@entry_test.additional_info})" if !@entry_test.additional_info.blank? %>.
  </p>
  <p>
    Prezence účastníků bude probíhat 30 minut před konáním testu.
  </p>
  <p>
    Podrobnosti ke vstupnímu testu naleznete ve vyhlášce č. 382/2017 Sb., o výběru, přijímání a přípravné službě justičních čekatelů a o odborné justiční zkoušce a v Metodice a hodnocení vstupního testu a písemného testu zpracované Justiční akademií.
  </p>
  <p>Pro více informací o termínu přejděte do <%= link_to 'aplikace', entry_test_url(@entry_test) %>.</p>
</div>
