- content_for(:heading) do
  %h2= Interview.model_name.human

- formatter = attribute_formatter_for(schema = InterviewSchema.new)
.attribute
  .label= Interview.human_attribute_name('time')
  .value= l( @interview.time )
= formatter.labeled_html_attribute_value(schema.attribute('region_court_id'), @interview)
.attribute
  .label= Interview.human_attribute_name('interview_type')
  .value= @interview.boundary.present? ? t('label_interview_with_test') : t('label_interview_without_test')

= role_based_render('interviews/show', interview: @interview)
