.row
  = form.fields_for(:user) do |fields|
    .col-12.col-sm-6= fields.text_field(:fullname, disabled: true)
    .col-12.col-sm-6= fields.text_field(:mail, disabled: true)

  .col-12.col-sm-6= form.date_field(:birth_date, min:  Date.new(1920, 1, 1), max: Date.today, data: {'date-view-mode' => 'decades', 'date-use-current' => false, 'date-view-date' => Date.new(1950, 1, 1).to_s })
  .col-12.col-sm-6= form.text_field(:phone)
  .col-12.col-sm-6= form.select(:university, enum_values_for_select(candidate.class, :university))
  .col-12.col-sm-6= form.text_field(:graduation_year)
  .col-12
    = form.check_box(:higher_title, id: 'candidate_higher_title', include_hidden: false, checked: form.object.higher_title?)
    = form.text_field(:higher_title, skip_label: true, id: 'candidate_higher_title_field')
  .col-12
    = link_to( diploma_thumb(@candidate), @candidate.diploma.url, target: '_blank') if candidate.diploma_stored?
    = form.custom_file_field(:diploma)
  .col-12= form.select2(:organizations, EgovUtils::Organization.region_courts.collect{|o| [o.name, o.id] }, {}, multiple: true)
  .col-12.hidden= form.select2(:suborganizations, EgovUtils::Organization.district_courts.collect{|o| [o.name, o.id] }, {}, multiple: true)
  .col-12= form.check_box(:shorter_invitation)
  .col-12= form.check_box(:agreed_limitations)

%p
  Odesláním formuláře prohlašuji, že jsem byl/a v souladu se zákonem č. 101/2000 Sb., o ochraně osobních údajů,
  ve znění pozdějších předpisů, řádně informován/a o zpracování mých osobních údajů pro
  účely vedení evidence zájemců o přijetí do přípravné služby justičních čekatelů, jakož i o mých
  právech a povinnostech s tím spojených.
%p
  Souhlasím s tím, aby Ministerstvo spravedlnosti ČR zpracovávalo mnou poskytnuté osobní údaje pro účely
  vedení evidence zájemců o přijetí do přípravné služby justičních čekatelů, a to ode dne jejich
  poskytnutí, a zavazuji se mu proto bezodkladně oznamovat všechny změny v osobních
  údajích mnou poskytnutých.

:javascript
  $(function(){
    function toggle_higher_title(state) {
      $('#candidate_higher_title_field').closest('.form-group').toggle(state);
    }
    toggle_higher_title($('#candidate_higher_title').is(':checked'));
    $('#candidate_higher_title').on('change', function(evt){
      toggle_higher_title($(this).is(':checked'));
    });

    function disable_os_by_ks(enabled_superiors) {
      $.ajax('#{egov_utils.district_courts_organizations_path}', {method: 'GET', data: {ids: enabled_superiors}}).done(function(data){
        var options = $('#candidate_suborganizations option')
        options.prop('disabled', false);
        for( var i = 0; i < data.length; ++i ){
          options = options.not('[value="'+data[i].toString()+'"]')
        }
        options.prop('disabled', true);
        $('#candidate_suborganizations').select2();
      });
    }

    disable_os_by_ks( $('#candidate_organizations').val() );
    $('#candidate_organizations').on('change', function(evt){
      disable_os_by_ks($(this).val());
    });
  });
