- unless entry_test.passed?
  .entry-test-actions.mb-3.row
    .col-12
      = link_to(t('label_edit'), edit_entry_test_path(entry_test), class: 'btn btn-secondary')
      = link_to(t('label_cancel') + ' ' + EntryTest.model_name.human.downcase, '#delete', class: 'ml-3', role: 'button', 'aria-expanded' => 'false', 'aria-controls' => 'delete', data: {toggle: 'collapse'} )
    #delete.collapse.col-12
      = bootstrap_form_for(entry_test, url: entry_test_path(entry_test), method: :delete) do |f|
        = f.text_area(:audit_comment)
        .form-actions
          = f.submit t('label_cancel') + ' ' + EntryTest.model_name.human.downcase, data: { confirm: t('text_confirmation') }, class: 'btn btn-warning'

- if entry_test.unconfirmed?
  = form_tag(entry_test_candidate_entry_tests_path(entry_test)) do
    .form-group
      = check_box_tag('allow_less_candidates', class: 'form-control')
      = label_tag('allow_less_candidates', t('label_allow_less_candidates'), class: 'control-label')
    = submit_tag(t('label_publish_and_invite'), class: 'btn btn-primary')
- else
  - excuses = entry_test.candidate_entry_tests.apologized.preload(candidate: :user)
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.nav-item
      %a#candidates_tab.nav-link.active{href: '#candidates', role: 'tab', data: {toggle: 'tab'}}= t('label_invited_candidates')
    %li.nav-item
      %a#excuses_tab.nav-link{href: '#excuses', role: 'tab', data: {toggle: 'tab'}}
        = t('label_excuses')
        %span.badge.badge-pill.badge-info= excuses.count

  .tab-content
    #candidates.tab-pane.fade.show.active{'aria-labelledby' => 'candidates_tab'}
      - candidate_tests_schema = CandidateEntryTestSchema.new(columns: ['candidate-user-mail', 'candidate-title', 'candidate-user-firstname', 'candidate-user-lastname', 'candidate-higher_title'].concat(entry_test.passed? ? ['absent', 'points'] : []))
      - candidate_tests_schema.default_scope = 'comming'
      - candidate_tests_schema.add_filter('entry_test_id', '=', entry_test.id)
      = form_tag(evaluate_entry_test_path(entry_test)) do
        %table.table
          %thead
            %tr
              %th= EgovUtils::User.human_attribute_name('fullname')
              - if entry_test.passed?
                %th= CandidateEntryTest.human_attribute_name('absent')
                %th= CandidateEntryTest.human_attribute_name('points')
          %tbody
            - candidate_tests_schema.entities.each do |candidate_test|
              %tr
                %td= candidate_test.candidate.user.fullname
                - if entry_test.passed?
                  %td
                    = hidden_field_tag("entry_test[candidate_entry_tests_attributes][#{candidate_test.id}][id]", candidate_test.id)
                    = check_box_tag("entry_test[candidate_entry_tests_attributes][#{candidate_test.id}][arrival]", 'absent', candidate_test.absent?, class: 'test-absent-checkbox', disabled: entry_test.evaluated?)
                  %td.test-points= number_field_tag("entry_test[candidate_entry_tests_attributes][#{candidate_test.id}][points]", candidate_test.points, class: 'test-points-field', disabled: entry_test.evaluated?)
        - if entry_test.passed? && !entry_test.evaluated?
          = submit_tag(t('label_evaluate'), class: 'btn btn-primary')
          :javascript
            $(function(){
              $('#candidates .test-absent-checkbox').on('change', function(evt){
                $(this).closest('tr').find('.test-points :input').prop('disabled', $(this).is(':checked'))
              });
            });
      .exports.text-right
        = link_to entry_test_candidate_entry_tests_path(entry_test, candidate_tests_schema.to_param.merge(format: :csv)) do
          %i.fa.fa-file-o
          = t('label_export_as', as: 'CSV')

    #excuses.tab-pane{'aria-labelledby' => 'excuses_tab'}
      %table.table
        %thead
          %tr
            %th= EgovUtils::User.human_attribute_name('fullname')
            %th= CandidateEntryTest.human_attribute_name('apology')
        %tbody
          - excuses.each do |candidate_test|
            %tr
              %td= candidate_test.candidate.user.fullname
              %td= candidate_test.apology
