- is_landing = params[:controller] == 'egov_utils/sessions'
- is_landing ||= params[:controller] == 'contacts'
!!!
%html{lang: I18n.locale}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : t(:app_name)
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : t(:app_description)}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = i18n_js_set_locales_tag
    = csrf_meta_tags
    = google_analytics_snippet unless internal_network?
  %body
    %header
      = render 'layouts/navigation'
    %main#container{role: (is_landing ? 'landing' : 'main')}
      - if is_landing
        #content.container-fluid
          = render 'layouts/egov_utils/messages'
          = yield
      - else
        #content.container
          = render 'layouts/egov_utils/messages'
          = content_for?(:content) ? content_for(:content) : yield
      %footer
        .container
          .row
            .col-12.col-md-6.notice
              Webové stránky jsou v souladu s
              = link_to 'vyhláškou č. 64/2008 Sb', "http://www.mvcr.cz/clanek/vyhlaska-c-64-2008-sb-o-forme-uverejnovani-informaci-souvisejicich-s-vykonem-verejne-spravy-prostrednictvim-webovych-stranek-pro-osoby-se-zdravotnim-postizenim-vyhlaska-o-pristupnosti-10.aspx", title: "Vyhláška č. 64/2008 Sb"
              o přístupnosti.
            .col-12.col-md-6.copyright
              &copy; 2017-
              = Date.today.year
              = t('ministery_justice_name')
    = render 'cookies_eu/consent_banner'
